@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.title = "Page";
}
<h1> Enter the values</h1>
<form>
    <table>
        <tr>
            <td>
                     Enter 1st Number:
            </td>
            <td>
                <input id="text1" type="text" name="txtfirst" />
            </td>

        </tr>
        <tr>
            <td>
                Enter 2nd Number:
            </td>
            <td>
                <input id="text2" type="text" name="txtsecond" />
            </td>
        </tr>
    </table>
</form>
